/* esbuild-css-modules-plugin-ns-css:src/style.modules.css */
.style-modules__loadMoreButton_gGud6a__ {
  opacity: 1 !important;
  width: 100% !important;
}
.style-modules__tabsContent_gGud6a__ {
  height: calc(100% - 41px);
}
.style-modules__tabsPanel_gGud6a__,
.style-modules__panel_gGud6a__ {
  height: 100%;
}
.style-modules__toolbar_gGud6a__ {
  background-color: var(--colors-ContrastDarker);
  border-bottom: 1px solid var(--colors-ContrastDark);
  display: flex;
}
.style-modules__toolbarButtons_gGud6a__ {
  flex-shrink: 0;
}
.style-modules__toolbarSearch_gGud6a__ {
  align-items: center;
  margin-left: 5px;
  display: flex;
}
.style-modules__toolbarSearchInput_gGud6a__ {
  border-radius: 0;
}
.style-modules__toolbarSearchInput_gGud6a__:focus {
  background-color: var(--colors-ContrastDark);
  color: var(--colors-ContrastBrightest);
}
.style-modules__toolbarSearchClearButton_gGud6a__ {
  background-color: var(--colors-ContrastDark);
}
.style-modules__toolbarSearchNoResults_gGud6a__ {
  padding: 5px 10px;
}
.style-modules__pageTreeContainer_gGud6a__ {
  background-color: var(--colors-ContrastDarker);
  border-right: 1px solid var(--colors-ContrastDark);
  border-bottom: 1px solid var(--colors-ContrastDark);
  flex-direction: column;
  height: 100%;
  display: flex;
}
.style-modules__pageTreeToolbarOriginal_gGud6a__ :is(div) {
  border-top: 0;
}
.style-modules__node_gGud6a__ {
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  width: 100%;
  padding: 3px 6px;
  display: flex;
  overflow: hidden;
}
.style-modules__nodeIconWrapper_gGud6a__ {
  text-align: center;
  width: 2em;
}
.style-modules__nodeFocused_gGud6a__ {
  background-color: var(--colors-ContrastNeutral);
}
.style-modules__nodeFocused_gGud6a__ .style-modules__nodeLabel_gGud6a__ {
  color: var(--colors-PrimaryBlue);
}
.style-modules__nodeDirty_gGud6a__ {
  border-left: 2px solid var(--colors-Warn);
  padding-left: 4px;
}
.style-modules__nodeRemoved_gGud6a__ {
  cursor: not-allowed;
  border-color: var(--colors-Error);
}
.style-modules__nodeRemoved_gGud6a__ .style-modules__nodeLabel_gGud6a__,
.style-modules__nodeRemoved_gGud6a__ .style-modules__nodeIconWrapper_gGud6a__ {
  opacity: .5;
}
